@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}

@media (min-width: 1440px) {
  html,
  body {
    font-size: 18px;
  }
}

body {
  background-color: #161722;
}

main {
  padding-bottom: 5rem;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 15px;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    width: 50%;
  }
}

header {
  background: url(../../images/bg-mobile-dark.jpg) no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 200px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4rem;
}

header .container h1 {
  color: #fff;
}

header .container .theme-toggle {
  width: 20px;
  height: 20px;
  background: url(../../images/icon-sun.svg) no-repeat;
  background-position: 0 0;
  background-size: cover;
  border: none;
}

@media (min-width: 1440px) {
  header .container .theme-toggle {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1440px) {
  header {
    background: url(../../images/bg-desktop-dark.jpg) no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 300px;
  }
}

.todo-container {
  margin-top: -90px;
  -webkit-box-shadow: 2px 6px 12px rgba(37, 39, 60, 0.1);
          box-shadow: 2px 6px 12px rgba(37, 39, 60, 0.1);
}

.todo-container .create {
  background-color: #25273c;
  border-radius: 5px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-container .create .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #484b6a;
}

@media (min-width: 1440px) {
  .todo-container .create .checkbox {
    width: 30px;
    height: 30px;
  }
}

.todo-container .create form {
  width: 85%;
}

.todo-container .create form .new-todo {
  background: transparent;
  border: none;
  color: #cacde8;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  margin-left: 1rem;
}

.todo-container .create form .new-todo::-webkit-input-placeholder {
  color: #4d5066;
}

.todo-container .create form .new-todo:-ms-input-placeholder {
  color: #4d5066;
}

.todo-container .create form .new-todo::-ms-input-placeholder {
  color: #4d5066;
}

.todo-container .create form .new-todo::placeholder {
  color: #4d5066;
}

.todo-container .create form .new-todo:focus {
  outline: none;
}

@media (min-width: 1440px) {
  .todo-container .create form .new-todo {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .todo-container .create form {
    padding: 1rem 2rem;
  }
}

@media (min-width: 1440px) {
  .todo-container .create {
    padding: 0.5rem 2rem;
  }
}

.todo-container .todo-list {
  background-color: #25273c;
  margin-top: 1rem;
  border-radius: 5px;
}

.todo-container .todo-list .item {
  border-bottom: 1px solid #393a4c;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.todo-container .todo-list .item .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.todo-container .todo-list .item .checkbox-container .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #484b6a;
  background: #25273c;
  cursor: pointer;
}

.todo-container .todo-list .item .checkbox-container .checkbox img {
  display: none;
}

@media (min-width: 1440px) {
  .todo-container .todo-list .item .checkbox-container .checkbox {
    width: 30px;
    height: 30px;
  }
}

.todo-container .todo-list .item .checkbox-container:hover {
  background: linear-gradient(120deg, #57ddff, #c058f3);
}

@media (min-width: 1440px) {
  .todo-container .todo-list .item .checkbox-container {
    width: 32px;
    height: 32px;
  }
}

.todo-container .todo-list .item p {
  color: #cacde8;
  width: 85%;
  margin: 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.todo-container .todo-list .item .close {
  width: 15px;
  height: 15px;
  background: url(../../images/icon-cross.svg) no-repeat center/cover;
  border: none;
}

@media (min-width: 1440px) {
  .todo-container .todo-list .item .close {
    visibility: hidden;
  }
}

@media (min-width: 1440px) {
  .todo-container .todo-list .item {
    padding: 1rem 2rem;
  }
}

.todo-container .todo-list .item.complete .checkbox {
  background: url(../../images/icon-check.svg) no-repeat center, linear-gradient(120deg, #57ddff, #c058f3);
}

.todo-container .todo-list .item.complete .checkbox img {
  display: initial;
}

.todo-container .todo-list .item.complete p {
  color: #4d5066;
  text-decoration: line-through;
}

.todo-container .todo-list .item:hover .close {
  visibility: visible;
}

.todo-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-color: #25273c;
  position: relative;
  border-radius: 0 0 5px 5px;
}

.todo-container .stats p {
  margin: 0;
  color: #4d5066;
}

.todo-container .stats .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  background-color: #25273c;
  border-radius: 5px;
  text-align: center;
}

.todo-container .stats .filter p {
  margin: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.todo-container .stats .filter p:hover {
  color: #e4e5f1;
}

.todo-container .stats .filter p.selected {
  color: #3a7bfd;
}

@media (min-width: 1440px) {
  .todo-container .stats .filter {
    position: static;
    width: 50%;
  }
}

.todo-container .stats .clear p {
  cursor: pointer;
}

.todo-container .stats .clear p:hover {
  color: #e4e5f1;
}

@media (min-width: 1440px) {
  .todo-container .stats {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .todo-container {
    margin-top: -150px;
  }
}

.drag {
  color: #4d5066;
  text-align: center;
}

body.light {
  background-color: #fafafa;
}

body.light header {
  background: url(../../images/bg-mobile-light.jpg) no-repeat;
  background-position: 0 0;
  background-size: cover;
}

body.light header .theme-toggle {
  background: url(../../images/icon-moon.svg) no-repeat;
  background-position: 0 0;
  background-size: cover;
}

@media (min-width: 1440px) {
  body.light header {
    background: url(../../images/bg-desktop-light.jpg) no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 300px;
  }
}

body.light .create {
  background-color: #fff;
}

body.light .create .checkbox {
  border-color: #e4e5f1;
}

body.light .create .new-todo {
  color: #484b6a;
}

body.light .create .new-todo::-webkit-input-placeholder {
  color: #9394a5;
}

body.light .create .new-todo:-ms-input-placeholder {
  color: #9394a5;
}

body.light .create .new-todo::-ms-input-placeholder {
  color: #9394a5;
}

body.light .create .new-todo::placeholder {
  color: #9394a5;
}

body.light .todo-list {
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(37, 39, 60, 0.1);
          box-shadow: 0 6px 12px rgba(37, 39, 60, 0.1);
}

body.light .todo-list .item {
  border-bottom-color: #e4e5f1;
}

body.light .todo-list .item .checkbox-container .checkbox {
  border-color: #e4e5f1;
  background: #fff;
}

body.light .todo-list .item p {
  color: #9394a5;
}

body.light .todo-list .item.complete .checkbox {
  background: url(../../images/icon-check.svg) no-repeat center, linear-gradient(120deg, #57ddff, #c058f3);
}

body.light .todo-list .item.complete .checkbox img {
  display: initial;
}

body.light .todo-list .item.complete p {
  color: #d2d3db;
}

body.light .stats {
  background-color: #fff;
}

body.light .stats p {
  color: #d2d3db;
}

body.light .stats .filter {
  background-color: #fff;
}

body.light .stats .filter p {
  color: #9394a5;
}

body.light .stats .filter p:hover {
  color: #484b6a;
}

body.light .stats .clear p:hover {
  color: #484b6a;
}

body.light .drag {
  color: #9394a5;
}
/*# sourceMappingURL=main.css.map */