*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	transition: background 1s;
}

h1 {
	margin: 0;
}

.container {
	width: 86.5%;
	margin: 0 auto;

	@include desktop {
		width: 50%;
	}
}

form {
	width: 80%;
}
