html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	font-family: 'Josefin Sans', sans-serif;

	@include desktop {
		font-size: 1.8rem;
	}
}

h1 {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 3rem;
	color: #fff;

	@include desktop {
		font-size: 4rem;
		letter-spacing: 15px;
	}
}
