body.light {
	background-color: hsl(0, 0%, 98%);

	header {
		background: url(../../images/bg-mobile-light.jpg) no-repeat;
		background-position: 0 0;
		background-size: cover;

		.theme-toggle {
			background: url(../../images/icon-moon.svg) no-repeat;
			background-position: 0 0;
			background-size: cover;
		}

		@include desktop {
			background: url(../../images/bg-desktop-light.jpg) no-repeat;
			background-position: 0 0;
			background-size: cover;
			height: 300px;
		}
	}

	.create {
		background-color: #fff;

		.checkbox {
			border-color: hsl(236, 33%, 92%);
		}

		.new-todo {
			color: hsl(235, 19%, 35%);
			&::placeholder {
				color: hsl(236, 9%, 61%);
			}
		}
	}

	.todo-list {
		background-color: #fff;
		box-shadow: 0 6px 12px rgba($color: hsl(235, 24%, 19%), $alpha: 0.1);

		.item {
			border-bottom-color: hsl(236, 33%, 92%);

			.checkbox-container {
				.checkbox {
					border-color: hsl(236, 33%, 92%);
					background: #fff;
				}
			}

			p {
				color: hsl(236, 9%, 61%);
			}

			&.complete {
				.checkbox {
					background: url(../../images/icon-check.svg) no-repeat center,
						linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

					img {
						display: initial;
					}
				}

				p {
					color: hsl(233, 11%, 84%);
				}
			}
		}
	}

	.stats {
		background-color: #fff;

		p {
			color: hsl(233, 11%, 84%);
		}

		.filter {
			background-color: #fff;

			p {
				color: hsl(236, 9%, 61%);
				&:hover {
					color: hsl(235, 19%, 35%);
				}
			}
		}

		.clear {
			p:hover {
				color: hsl(235, 19%, 35%);
			}
		}
	}

	.drag {
		color: hsl(236, 9%, 61%);
	}
}
